<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predictions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<div class="container">
    <canvas id="PredictionsChart"></canvas>
</div>
</body>

<script>
    var ctx = document.getElementById('PredictionsChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: Array.apply(null, Array(48)).map(function (x, i) { return i; }),
            datasets: [{
                label: 'Power Predictions',
                backgroundColor: 'rgb(40, 155, 255)',
                borderColor: 'rgb(40, 155, 255)',
                fill: false,
                data: {{ predictions }}
            }]
        },

        // Configuration options go here
        options: { }
    });

</script>

</html>